@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* #C4E1F2
#A68358
#8C7C68
#5386A6
#402C21 

#BFB6A4
#608BA6
#024873
#023859
#011526*/

body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(135deg, #eef5ff, #cddfff, #e6efff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

main{
    width: 90%;
    margin: auto;
}

#principal{
    width: 80%;
    background-color: rgba(245, 245, 245, 0.904);
    margin: 10px 0;
    border-radius: 6px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.08);

      backdrop-filter: blur(4px);
}

/* NAV */

nav{
    color: #011526;
    margin-top: 5px;
    width: 100%;
    margin-left: -8px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    background: #00468b;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
}




nav a{
    margin: 0 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
}

nav a svg {
    width: 22px;
    height: 22px;
}

nav a:hover {
    opacity: 0.8;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 4px;
}

/* HERO */

.hero{
    text-align: center;
    padding: 20px;
}

.hero h1{
    font-size: 2.6em;
    font-weight: bold;
}
.subtitle {
    font-weight: 600;
    color: #00468b;
}

.description {
    color: #555;
    max-width: 600px;
    margin: 10px auto;
}

.hero p{
    margin-top: 10px;
    font-size: 1.3em;
    color: #555;
}

.buttons{
    margin-top: 20px;
}

.btn{
    background: #00468b;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn.outline{
    background: transparent;
    border: 2px solid #00468b;
    color: #00468b;
}

.btn,
.card-buttons a {
    cursor: pointer;
}

/* main */



/* section */

section{
    margin: 40px 0;
}

h2{
    margin-bottom: 20px;
    border-left: 5px solid #00468b;
    padding-left: 8px;

}

/* grid */

.grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 
card */

.card{
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    
}

#flex-row{
    
    display: flex;
    
    gap: 10px;
}



.card:hover{
    transform: translateY(-3px) scale(1.01);
}

.card img{
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.03);
}

.card h3{
    margin-top: 10px;
}

.card p{
    margin-top: 10px;
    font-size: 0.9em;

}



/* botôes */

.card-buttons{
    margin-top: 15px;
    margin-bottom: 10px;
}

.card-buttons a{
    background: #00468b;
    color:white;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    margin-right:5px;
    font-size: 0.9em;
    transition: 0.2s;
}
.card-buttons a:hover {
    background: #002f5b;
    transform: scale(1.05);
}

.destaque {
    border: 2px solid #00468b;
    margin: 2px;
}

.hr{
    height: 2px;
    background-color: #8c7c68;
    margin: 20px 0;
}


#center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    width: 100%;
    text-align: center;
    background: #00468b;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    transition: all 0.25s ease;
    font-weight: 500;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* skills */


.skills-list{
    list-style: none;
    padding: 10px;
}

.skills-list li{
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.skills span:hover {
    transform: scale(1.08);
    background: #00468b;
    color: white;
}
/* CORES IGUAIS AO SEU ANTIGO */
.skills-list li:nth-child(1) i {color: orangered;}
.skills-list li:nth-child(2) i {color: blue;}
.skills-list li:nth-child(3) i {color: yellow;}
.skills-list li:nth-child(4) i {color: rgb(11, 43, 185);}

/* extras */
.skills-list:last-of-type li:nth-child(1) i {color: rgb(50, 36, 170);}
.skills-list:last-of-type li:nth-child(2) i {color: orangered;}
.skills-list:last-of-type li:nth-child(3) i {color: green;}



footer{
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    background:#00468b;
}

footer p {
    margin-bottom: 5px;
}

.contatos a {
    color: white;
    font-size: 1.5em;
    margin: 10px;
    transition: 0.3s;
}

.contatos a:hover {
    transform: scale(1.2);
}